<div class="container-fluid mx-auto" id="education">
    <h3>Education</h3>
        <div class="row">
                <div class="col-sm-1 p-2">
                        <img class="img-fluid" name="logo" src="assets/images/caltechlogo.png" alt="Caltech Logo" width="220" height="220">
                </div>
                    <div class="col-md-8 p-2">
                        <h5 class="card-title">Caltech Center for Technology and Management Education</h5>
                        <p class="card-text">Full Stack Web Development Post Graduate Degree // Graduated Oct. 2022</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-1 p-2 mt-3">
                        <img class="img-fluid" name="logo" src="assets/images/uvmlogo.png" alt="Caltech Logo" width="220" height="220">
                </div>
                        <div class="col-md-8 p-2 mt-3">
                            <h5 class="card-title">University of Vermont</h5>
                            <p class="card-text">Bachelor of Arts Degree in Studio Art // Graduated 2010</p>
                        </div>
                
        </div>
        
        <div id="cv-button">                  
            <a href="/cv" class="btn"><fa-icon class="fa-solid fa-1x p-1" [icon]="faFile"></fa-icon>View CV</a>
      </div>
</div>

