#education {
    font-family: 'Lexend', sans-serif;
    color: #023047;
    background-color: #5CA3C6;
    padding: 2em;
    
}

h3 {
    text-align: center;
    color: #242E51;
    font-weight:bolder;
    margin-top: 1em;
    padding: 1em;
}


.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 16px;
}

.row {
    margin-left: 12em;
    margin-bottom: 2em;
}




