
body {
    font-family: 'Helvetica', 'Arial', sans-serif;  
    background: #242E51; 
}

.container {
    bottom: 0;
    left: 0;
    height: 300px;
    margin: auto;
    bottom: 3;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.container img {
    max-width: 100%;
}
