    <app-header></app-header>
    

    <body>
          <div class="container mx-auto" id="cv">
               <button class="btn">(click)="downloadFile()"><fa-icon class="fa-solid fa-1x p-1" [icon]="faFile"></fa-icon>Download CV</button>
                <div class="row">                        
                    <div class="col-sm-12">
                         <div>
                              <img src="assets/images/bryan-gaskins-CV.png" alt="CV">     
                         </div>
                    </div>
               </div>
          </div>
     </body>
