    <app-header></app-header>
    


<body>

<div id="cv-button">                  
     <a href="assets/bryan-gaskins-cv.pdf" class="btn" attributes-list download><fa-icon class="fa-solid fa-1x p-1" [icon]="faFile"></fa-icon>Download CV</a>
</div>

<div class="container mx-auto" id="cv">
     <div class="row">                        
         <div class="col-sm-12">
               <div>
                    <img src="assets/images/bryan-gaskins-CV.png" alt="CV">     
               </div>
          </div>
     </div>
 </div>
</body>
