    <app-header></app-header>
    


    <body>
          <div class="container mx-auto" id="cv">
               <button class="btn"><a href="assets/bryan-gaskins-CV.pdf" download="bryan-gaskins-CV.pdf"><fa-icon class="fa-solid fa-1x p-1" [icon]="faFile"></fa-icon>Download CV</a></button>
                <div class="row">                        
                    <div class="col-sm-12">
                         <div>
                              <img src="assets/images/bryan-gaskins-CV.png" alt="CV">     
                         </div>
                    </div>
               </div>
          </div>
     </body>
