body {
    font-family: 'Helvetica', 'Arial', sans-serif;  
    background: #242E51; 
}

.container {

    height: auto;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}

.container img {
    max-width: 100%;
}
