<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
        <a class="nav-link active" href="https://www.bryandgaskins.com"><h4>Bryan Gaskins</h4></a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="https://www.linkedin.com/in/bryangaskins"><fa-icon class="fa-solid fa-1x p-1" [icon]="faLinkedin"></fa-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="https://github.com/bgaskins"><fa-icon class="fa-solid fa-1x p-1" [icon]="faGithub"></fa-icon></a>
            </li>
        </ul>
     </div>
</nav>

