.navbar {
    position: fixed;
    background-color: #E9EAEC;
    width: 100vw;
    height: 2.75em;

}


.nav-link {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    
    color: #333652;
}


.nav-item {
    text-align: right;
}

h4 {
    margin-top: .25em;
    margin-left: .50em;
}