<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><fa-icon class="fa-solid fa-1x p-1" [icon]="faFile"></fa-icon>CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/bgaskins"><fa-icon class="fa-solid fa-1x p-1" [icon]="faGithub"></fa-icon></a>
                </li>
            </ul>
        </div>
        
    </nav>
</header>


