<footer>
    <div class="footer-container">
        <div class="footer-nav">
            <nav class="site-footer-nav">
                <div class="row">
                    <div class="col-sm-12 site-footer-nav-col-1" id="info-links">
                        <div class="site-footer-nav-col-2" id="contact">
                            <ul class="footer-list">
                                <h3>Contact</h3>
                                    <p class="phone">508-769-9222<br>
                                    </p>
                                    <p class="phone">bryandgaskins@gmail.com<br>
                                    </p>
                            </ul>
                        </div>
                    </div>
                    <fa-icon class="fa-solid fa-1x" [icon]="faTerminal"></fa-icon>

                    <div class="site-footer-nav-col-3" id="copyright">
                        <div class="copyright text-muted"> © 2022 | Built by Bryan Gaskins </div>
                    </div>
            </div>
            </nav>
        </div>
    </div>
</footer>