<div class="container-fluid" id="projects">
    <h3 id="project-header">Projects</h3>
    <div class="row">
        
        
        <div class="col-sm-4 align-items-stretch">
            <div class="card w-75 h-100 mx-auto" style="width: 16em;">
                <img src="./assets/images/lockedme.png" class="card-img-top" alt="Project One">
                <div class="card-body">
                    <h5 class="card-title">Locked Me File Assistant</h5>
                    <p class="card-text">Simple Java console-based app that allows a user to input menu options for displaying, searching,
                        adding, and deleting files.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge rounded-pill bg-warning text-dark">Java</span>
                        </li>
                    <li class="list-group-item"> 
                        <p class="project-concepts">
                            <strong> Concepts used: </strong>exception handling, collections framework, algorithms, data structures, scrum
                    </p>
                    </li>
                </ul>
                <div class="card-body" id="card-bottom">
                    <div class="card-body">                  
                          <a href="https://github.com/bgaskins/locked_me" class="btn">View Project</a>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-sm-4">
            <div class="card w-75 h-100 mx-auto" style="width: 16em;">
                <img src="./assets/images/nmscinemas.png" class="card-img-top" alt="Project Three">
                <div class="card-body">
                    <h5 class="card-title">NMS Cinemas</h5>
                    <p class="card-text">A movie ticket ordering app that allows customers to purchase tickets anywhere.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">                            
                        <span class="badge rounded-pill bg-warning text-dark">Java</span>
                       
                        <span class="badge rounded-pill bg-warning text-dark">HTML5</span>
                       
                        <span class="badge rounded-pill bg-warning text-dark">CSS3</span>
                     
                        <span class="badge rounded-pill bg-warning text-dark">JS</span>
                   
                        <span class="badge rounded-pill bg-warning text-dark">Typescript</span>

                        <span class="badge rounded-pill bg-warning text-dark">SQL</span>

                    </li>
                    <li class="list-group-item"><p class="project-concepts">
                        <strong> Concepts used: </strong> Spring MVC, dynamic data, frameworks (Spring Boot, Bootstrap, Hibernate), backend/frontend integration, APIs, database management, authentication, scrum
                </p></li>
                </ul>
                <div class="card-body" id="card-bottom">
                    <div class="card-body">                  
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              View Project
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="https://github.com/bgaskins/nms_cinemas_frontend">Frontend</a>
                              <a class="dropdown-item" href="https://github.com/bgaskins/nms_cinemas_backend">Backend</a>
                            </div>
                          </div>     
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card w-75 h-100 mx-auto" style="width: 16em;">
                <img src="./assets/images/jaxsmarket.png" class="card-img-top" alt="Project Two">
                <div class="card-body">
                    <h5 class="card-title">Jax's Market Grocery App</h5>
                    <p class="card-text">Dynamic and responsive grocery ordering app offering groceries and home goods for online ordering and pickup.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">                            
                        <span class="badge rounded-pill bg-warning text-dark">Java</span>
                       
                        <span class="badge rounded-pill bg-warning text-dark">HTML5</span>
                       
                        <span class="badge rounded-pill bg-warning text-dark">CSS3</span>
                     
                        <span class="badge rounded-pill bg-warning text-dark">JS</span>
                   
                        <span class="badge rounded-pill bg-warning text-dark">Typescript</span>

                        <span class="badge rounded-pill bg-warning text-dark">SQL</span>
                    </li>
                    <li class="list-group-item"><p class="project-concepts">
                        <strong> Concepts used: </strong> Spring MVC, dynamic data, frameworks (Spring Boot, Bootstrap, Hibernate), backend/frontend integration, APIs, database management, scrum
                </p></li>
                </ul>
                <div class="card-body" id="card-bottom">
                    <div class="card-body">                  
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              View Project
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="https://github.com/bgaskins/jaxs_market_frontend">Frontend</a>
                              <a class="dropdown-item" href="https://github.com/bgaskins/jaxs_market_backend">Backend</a>
                            </div>
                          </div>     
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>



