<div class="container-fluid mx-auto" id="knowledge">
    
        <div class="row">                        
        <div class="col-sm-12">
            <h3>Knowledge</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">                            
                        <a><fa-icon class="fa-2x" [icon]="faJava"></fa-icon><span>Java</span></a>
                                                
                        <a><fa-icon class="fa-2x" [icon]="faHtml5"></fa-icon><span>HTML5</span></a>
                            
                        <a><fa-icon class="fa-2x" [icon]="faCss3"></fa-icon><span>CSS5</span></a>

                        <a><fa-icon class="fa-2x" [icon]="faSquareJs"></fa-icon><span>JavaScript</span></a>

                    </li>   
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">                            
                        <a><fa-icon class="fa-2x" [icon]="faBootstrap"></fa-icon><span>Bootstrap</span></a>
                    
                        <a><fa-icon class="fa-2x" [icon]="faAngular"></fa-icon><span>Angular</span></a>
                            
                        <a><fa-icon class="fa-2x" [icon]="faDatabase"></fa-icon><span>MySql</span></a>                         
                    </li>   
                </ul>
        </div>
    </div>
    </div>