#knowledge {
    text-align: center;
    font-family: 'Lexend', sans-serif;
    color: #333652;
    background-color: #5CA3C6;
}

.list-group-item {
    background-color: #5CA3C6;
}

fa-icon {
    color: #ffc300;
    padding: 1.5em;
    padding-right: 0;
}

h3 {
    font-weight:bolder;
    padding: .5em;
    margin-top: 1em;
}

.a, span {
padding: .5em;
}