<div class="container my-5" id="intro">
    <h1 class="display-1">Bryan Gaskins</h1>
    <h3 id="intro-sentence">Hi, I'm Bryan. I'm a Full Stack Web Developer in the US.</h3>
</div>

<h4 id="project-header">Projects</h4>
<div class="container" id="projects">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/project1.png" class="card-img-top" alt="Project One">
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">This is a project that includes many languages, frameworks and tools.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">Angular</li>
                    <li class="list-group-item">Bootstrap</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Live Demo</a>
                    <a href="#" class="card-link">View Code</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/project2.png" class="card-img-top" alt="Project Two">
                <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">This is a project that includes many languages, frameworks and tools.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">Angular</li>
                    <li class="list-group-item">Bootstrap</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Live Demo</a>
                    <a href="#" class="card-link">View Code</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/project3.png" class="card-img-top" alt="Project Three">
                <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">This is a project that includes many languages, frameworks and tools.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">Angular</li>
                    <li class="list-group-item">Bootstrap</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Live Demo</a>
                    <a href="#" class="card-link">View Code</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 id="education">Education</h4>
<div class="container">
    <div class="education-list">
        <ul class="list-unstyled">
            <li class="media">
                <img class="mr-3" src="./assets/images/caltechlogo.png" alt="Caltech Logo">
                <div class="media-body" id="desc">
                    <h5>Caltech Center for Technology and Management Education</h5>
                    Full Stack Web Development Post Graduate Degree // Feb 2022 - present
                </div>
            </li>
            <li class="media my-4">
                <img class="mr-3" src="./assets/images/uvmlogo.png" alt="University of Vermont Logo">
                <div class="media-body" id="desc">
                    <h5>University of Vermont</h5>
                    Bachelor's Degree in Studio Art // Graduated 2010
                </div>
            </li>
        </ul>
    </div>
</div>