#projects {
    margin: 6rem;
    padding-inline: 5rem;
}

#intro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.card {
    border-inline-width: 3px;
}

.card-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-group {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-link {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.education-list img {
    width: 64px;
    height: 64px;
    float: left;
}

.education-list {
    font-family: Arial, Helvetica, sans-serif;
    margin: 3em;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#projects {
    margin: 3.5em;
}

#intro-sentence {
    margin: 4.5em;
}

#knowledge {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h4 #education {
    margin: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}