body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lexend', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/************************* 
 Header/intro 
 ************************* */

#intro {
    text-align: justify;
    margin-top: 11em;
    inline-size: 700px;

}

#intro, h4 {
    margin-bottom:8em;
}
